<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %> </title>

    <style>
        body {
            font-family: sans-serif;
            margin-top: 3%;
            margin-left: 10%;
        }

        a {
            color: #2940D3;
            text-decoration: none;
            margin-right: 2%;
        }

        a:hover {
            text-decoration: underline;
        }

        .input-group {
            margin-bottom: 10px;
        }
    </style>
</head>
<body> 
    <%- include('../layouts/navbar') %>

    <h1>Daftar User</h1>
    <% users.forEach(user => { %> 
        <ul>
        <!-- users adalah data yang dikirim dari controller -->
            <li>Id : <%= user.id %></li>
            <li>Nama :<%= user.name %></li>
            <li>Email : <%= user.email %></li>
        </ul>
    <% }) %>
</body> 
</html>
