<%- include('../layouts/start') %>

    <%- include('../layouts/navbar') %>

    <h1>Daftar User</h1>
    <% users.forEach(user => { %> 
        <ul>
        <!-- users adalah data yang dikirim dari controller -->
            <li> <a href="/users/<%= user._id %>"><%= user.name %> </a></li>
        </ul>
    <% }) %>
    
<%- include('../layouts/end') %>